.container {
    display: inline-block;
    width: 300px; /* Ajusta este ancho según tus necesidades */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-right: 150px; /* Agrega margen derecho para separar los contenedores */
    margin-left: 220px;
  }

  .inner-container {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 68px;
    position: relative;
    width: 350px;
  }

  label {
    position: absolute;
    left: 118px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    pointer-events: none;
    font-weight: bold;
    margin-top: -40px;  }

    .circle {
        background-color: white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: -11px;
        left: -41px;
        background-size: cover;
        background-position: center;
        background-image: url("../img/persona1.png");
      }
